img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* classes */

.img-fluid {
  background-color: yellow;
}


/* ids */

/* border around active image on page */
#active_img{
  border: 5px solid #555;
}